@page "/experience/kivi"
<h3>KiviTv</h3>
<div class="mt-4">
    <h2 class="mb-4">
        <i class="bi bi-tv m-2"></i>KiviTv Update, Launcher, Remote.
    </h2>

    <div>
        <h4>Overview</h4>
        <p><strong>Industry:</strong> Smart TV Manufacturing & Connected TV Advertising</p>
        <p><strong>Founded:</strong> 2016</p>
        <p><strong>Headquarters:</strong> Kyiv, Ukraine</p>
        <p>
            <strong>Website:</strong> <a href="https://www.kivi.tv/" target="_blank">kivi.tv</a>
        </p>

        <h4>About</h4>
        <p>KIVI is an international smart TV brand recognized for its innovative products and services. The company has sold over 1.5 million devices across more than 20 countries, including markets in Europe and Asia. KIVI TVs are certified by Google and Netflix, offering users access to premium content and features.</p>

        <h4>Strategic Partnerships</h4>
        <p>In 2024, KIVI formed a strategic partnership with VIDAA USA to manage home screen advertising across smart TVs in Latin American markets, including Colombia, Chile, Peru, and Argentina. This collaboration aims to enhance user experience and set new standards in smart TV technology.</p>
    </div>

    <!-- Responsive Images -->
    <div class="kivi-images">
        <!-- TV Interface Images -->
        <img src="images/kiviTv.png" alt="Kivi TV Image 1" class="img-fluid mb-3">
        <img src="images/kiviTv2.png" alt="Kivi TV Image 2" class="img-fluid mb-3">
        <img src="images/kiviTv3.png" alt="Kivi TV Image 3" class="img-fluid mb-3">

        <h5 class="mt-5">📷 Screenshots</h5>
        <div class="scrolling-wrapper row flex-row flex-nowrap overflow-auto">
            @foreach (var image in KiviRemote)
            {
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3 pe-2">
                    <div class="card border-0">
                        <img src=@image class="img-fluid rounded shadow-sm" alt="@image"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code
{

    private List<string> KiviRemote = new()
    {
        "images/kiviremote1.jpg",
        "images/kiviremote2.jpg",
        "images/kiviremote3.jpg",
        "images/kiviremote4.jpg",
        "images/kiviremote5.jpg",
        "images/kiviremote6.jpg",
        "images/kiviremote7.jpg",
        "images/kiviremote8.jpg",
        "images/kiviremote9.jpg",
        "images/kiviremote10.jpg"
    };

}